*.aux
*.bbl
*.bcf
*.blg
*.egg-info
*.html
*.ipynb
*.log
*.out
*.pdf
*.png
*.pyc
*.run.xml
*.synctex(busy)
*.synctex.gz
**/.ipynb_checkpoints/*-checkpoint.md
**/.ipynb_checkpoints/*-checkpoint.py
docs/logo.png
