*.aux
*.bbl
*.bcf
*.blg
*.egg-info
*.fdb_latexmk
*.fls
*.html
*.ipynb
*.log
*.out
*.pdf
*.png
*.pyc
*.run.xml
*.synctex(busy)
*.synctex.gz
*.toc
**/.ipynb_checkpoints/*-checkpoint.md
**/.ipynb_checkpoints/*-checkpoint.py
build/
docs/logo.png
