[MASTER]
ignore=build

[FORMAT]
indent-string='  '

[MESSAGES CONTROL]
#C0103: invalid variable names - we have math parameters with capitalizations etc.
disable = C0103

[SIMILARITIES]
min-similarity-lines=6